html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: inherit;
    font-style: normal;
    vertical-align: baseline;
    background: transparent;
    border: 0;
    outline: 0
}

article, aside, figure, figure img, hgroup, footer, header, nav, section {
    display: block
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input, select {
    vertical-align: middle
}

a img {
    border: 0
}

:focus {
    outline: 0
}

a:hover, a:active {
    outline: none
}

body {
    color: rgba(255, 255, 255, 0.9);
    font-size: 100%;
    font-family: ff-dagny-web-pro, Helvetica, Arial, sans-serif;
    background: #151515 url(../images/bg.png);
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased
}

::selection {
    background: #ff1aa8
}

::-moz-selection {
    background: #ff1aa8
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

body {
    -webkit-tap-highlight-color: #ff1aa8
}

.hide {
    display: none
}

.clear {
    clear: both
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url("../fonts/LeagueGothic-Regular.otf");
    font-weight: normal;
    font-style: normal
}

.wf-loading h1, .wf-loading blockquote {
    visibility: hidden
}

.wf-active h1, .wf-active blockquote, .wf-inactive h1, .wf-inactive blockquote {
    visibility: visible
}

a {
    color: #19d0f7;
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}

a:hover, a:hover img {
    opacity: .6
}

#message {
    width: 100%;
    background: #19d0f7
}

#message p {
    padding: .5em 1em;
    text-align: center;
    color: #333;
    font-size: 1.5em;
    line-height: 1.25em
}

#message p a {
    color: #FFF;
    font-weight: bold
}

@media only screen and (max-width: 850px) {
    #message p {
        font-size: 1em
    }
}

.block {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    overflow: hidden
}

#content {
    margin: 0 auto;
    padding: 0 5%;
    overflow: hidden
}

.col4, .col5, .col6, .col7 {
    margin-right: 3.2786885%;
    float: left;
    min-height: 1px;
    overflow: hidden
}

.col4 {
    width: 31.147541%
}

.col5 {
    width: 39.7540984%
}

.col6 {
    width: 48.3606557%
}

.col7 {
    width: 56.9672131%
}

.col12 {
    float: left;
    width: 100%;
    overflow: hidden
}

.end {
    margin-right: 0;
    padding: 0
}

.col6+.col6, .col7+.col5 {
    margin-right: 0
}

img, object, embed, video, iframe {
    max-width: 100%
}

img {
    height: auto
}

footer {
    width: 100%
}

header {
    width: 90%;
    max-width: 1220px;
    margin: 5% auto 0;
    padding: 0 5%;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease
}

header img {
    z-index: 1000;
    position: relative
}

header h1 {
    display: block;
    width: 100%;
    margin-top: -28%;
    margin-bottom: 2%;
    font-family: "LeagueGothicRegular", Impact, Helvetica, Arial, sans-serif;
    font-size: 6em;
    text-transform: uppercase;
    white-space: nowrap;
    line-height: .9375em;
    color: rgba(255, 255, 255, 0.95)
}

header h1 .word1, header h1 .word2 {
    -webkit-mask-box-image: url(../img/texture.png) 0 100%
}

header h1 .word1 {
    margin-left: -10px;
    padding-right: 9px
}

section {
    margin: 0 auto;
    padding-bottom: 3em
}

section h1 {
    display: block;
    position: relative;
    margin-bottom: .5em;
    padding: 0 10px 0 0;
    font-family: "LeagueGothicRegular", Impact, Helvetica, Arial, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 1px
}

section h1:after {
    content: '';
    position: absolute;
    margin-left: .25em;
    width: 100%;
    height: 45%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1)
}

section p {
    font-size: 1em;
    line-height: 1.25em
}

section img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px
}

#intro p {
    margin-bottom: 1em;
    line-height: 1.35em;
    font-size: 1.35em
}

#intro p+p {
    text-align: right
}

#work .portfolio {
    margin-top: 1.5em;
    font-style: italic
}

#work p {
    font-size: .875em
}

#team img {
    float: right;
    width: 100px;
    margin: 0 0 2em 2em;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease
}

#team p {
    margin: 0;
    line-height: 1.5em;
    font-size: 1em
}

#team p strong {
    font-weight: bold
}

#team p+p {
    margin-top: 1em
}

#quote {
    padding: 5% 0;
    border-top: 2px solid rgba(255, 255, 255, 0.1)
}

#quote blockquote {
    text-transform: uppercase;
    font-family: "LeagueGothicRegular", Impact, Helvetica, Arial, sans-serif
}

#quote blockquote .top, #quote blockquote em, #quote blockquote .bottom {
    -webkit-mask-box-image: url(../img/texture.png) 0 0 repeat repeat
}

#quote blockquote .top {
    display: block;
    line-height: 1em;
    text-align: center
}

#quote blockquote em {
    display: block;
    margin: 0;
    padding: .075em 0 .025em 0;
    line-height: .85em;
    text-align: center;
    color: #7fe3fb;
    background: rgba(0, 0, 0, 0.35);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px
}

#quote blockquote em br {
    display: none
}

#quote .bottom {
    display: block;
    margin-top: 1.35%;
    line-height: 1em;
    text-align: center
}

footer {
    background: #111
}

footer p {
    padding: 12px 5% 10px;
    line-height: 1.5em;
    text-align: center;
    font-size: .875em;
    color: rgba(255, 255, 255, 0.8)
}

.no-js header img {
    visibility: hidden
}

.no-js #team {
    border-bottom: none
}

.no-js #quote {
    display: none
}

.no-fontface header img {
    visibility: hidden
}

.no-fontface header h1 {
    margin: -28% 0 5%
}

.no-fontface #quote blockquote .top {
    margin-bottom: 1%
}

.no-fontface #quote blockquote em {
    padding: 1.5%
}

.no-rgba body, .no-rgba header h1 {
    color: #F5F5F5
}

.no-rgba a {
    color: #19D0F7
}

.no-rgba a:hover {
    color: #999
}

.no-rgba section h1:after {
    border-bottom: 2px solid #333
}

.no-rgba #quote {
    border-top: 2px solid #333
}

.no-rgba #quote em {
    background: #111
}

.ie7 header h1 {
    display: block;
    visibility: visible;
    width: auto
}

.ie7 .col4 {
    margin-right: 2.1%
}

.ie7 .col5, .ie7 .col6, .ie7 .col7 {
    margin-right: 3.2%
}

.ie7 .col6+.col6, .ie7 .col7+.col5 {
    margin-right: 0
}

@media only screen and (max-width: 767px) {
    body {
        -webkit-text-size-adjust: none
    }

    body, .block, #container {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }

    .col4, .col5, .col6, .col7, .col12 {
        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0
    }

    header {
        margin: 10% auto 0
    }

    header h1 {
        margin-top: -29%
    }

    header h1 .word1 {
        margin: 0;
        padding: 0
    }

    header h1 .word1, header h1 .word2 {
        -webkit-mask-box-image: none
    }

    #content {
        clear: left;
        margin: 15px auto 25px
    }

    section {
        padding-bottom: 1.5em
    }

    section h1 {
        font-size: 2.5em
    }

    section p {
        font-size: .75em;
        line-height: 1.25em
    }

    section a+p {
        margin-bottom: 1.5em
    }

    section img {
        width: 100%
    }

    #intro {
        padding: 0 0 2em;
        line-height: 1em
    }

    #intro p {
        display: inline;
        width: 100%;
        margin-bottom: 0;
        font-size: .75em
    }

    #intro p br {
        display: none
    }

    #intro p.contact:after {
        content: "."
    }

    #work p {
        font-size: .75em
    }

    #work .portfolio {
        margin: 0 0 1.5em
    }

    #team img {
        float: right;
        width: 60px;
        margin: 0 0 1.5em 1.5em
    }

    #team p {
        margin: 0 0 .75em;
        font-size: .75em
    }

    #team p+p {
        margin-bottom: 2em
    }

    #quote {
        padding: 10% 0 5%
    }

    #quote blockquote .top, #quote blockquote em, #quote blockquote em span, #quote blockquote .bottom {
        -webkit-mask-box-image: none
    }

    footer p {
        font-size: .6875em
    }
}

@media only screen and (max-width: 467px) {
    #quote {
        padding: 12% 0 5%
    }
}

@media only screen and (min-width: 468px) and (max-width: 767px) {
    section a+p {
        margin-bottom: 2em
    }

    #intro {
        padding-bottom: 2.5em
    }

    #endeavors {
        margin-bottom: -.5em
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #intro p {
        margin-bottom: 0;
        font-size: 1em
    }
}