@font-face {
    font-family: 'LeagueGothicRegular';
    src: url("../fonts/LeagueGothic-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

.scrollblock {
    margin: 0;
    width: 100%;
    height: 600px;
}

.banner {
    margin-top:20px;
    max-width: 100%;
}

/* Global */

img {
    max-width: 100%;
}

body {
    font-family: 'LeagueGothicRegular', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #8a8683;
    background-color:#1c1c1c;
}

.menu{
    position:fixed;
    top:0px;
    left:0px;

    width:100%;
    height:auto;
    background-color:#19d0f7;
    z-index:100;
}